@import '../../colors.scss';

.header {
    background-color: $Ambar;
    padding: 1.5em;
    display: flex;
    justify-content: space-around;
    a {
        all: unset;
        cursor: pointer;
        padding: 0.5em;
        font-size: 1.1em;
        color: $Negro;
        &:hover {
            background-color: $Negro;
            color: $Talco;
        }
    }


    .active {
        background-color: $Negro;
        color: $Talco;
    }
}